{% extends 'base.html' %}
{% block title %}Hire{% endblock %}
{% block content %}


    <form method="POST" action="/hire/">
        <label for="emp-name">Name:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-surname">Surname:</label>
        <input id="emp-surname" name="name" type="text">

        <label for="emp-email">Email:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-phone">Phone:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-birth-date">Birthday:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-start-work-date">Start Work Date:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-position-id">Position:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-department-id">Department:</label>
        <input id="emp-name" name="name" type="text">

        <label for="emp-is-department-leader">Is dept leader:</label>
        <input id="emp-name" name="name" type="text">

        <button type="submit">Add Position</button>
    </form>'


{% endblock %}
