<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum vel lacus sed scelerisque.
                Phasellus vitae vehicula velit, nec convallis nunc. Mauris semper faucibus est efficitur tristique.
                Mauris ultricies nisi ut neque convallis, non congue velit sollicitudin. Etiam eget vehicula ante.
                Vestibulum congue molestie consectetur. In a urna bibendum, mattis metus a, malesuada justo. Fusce
                pellentesque at mi nec efficitur. Sed quis luctus leo. Vivamus at mi maximus, semper arcu a, lobortis
                nibh.
            </p>
        </div>
    </div>
</div>
</body>
</html>